html {
    scroll-behavior: smooth;
}

h1 {
    color: rgb(192, 63, 63); 
    font-family: Trebuchet MS;
    border: 2px solid rgb(237, 247, 211);

}
body {
    font-family: Trebuchet MS;
    background-color: antiquewhite;
    background-image:none
}

section li {
    color: blue;
}

section p {
    color: black;
}

section h4 {
    color: rgb(31, 30, 33);
}

.special {
    color:rgb(13, 40, 61);
}

p {
    line-height: 1em;
}

section {
    width: 700px;
    margin: auto;
    
}

main {
    width: 700px;
    margin: auto;
}

body {
    width: 700px;
    margin: auto;
    text-align: justify;
    padding: 30px;
}

h1 {
    background-color: rgb(160, 160, 184);
    text-align: center;
    padding: 5px;
}

a:hover, a:active {
    color: red;
    text-decoration: underline;
    background-color:burlywood;
    display: inline-block;
    padding: 5px 5px;
}

table {
  font-family:trebuchet ms;
  border-collapse: collapse;
  width: 100%;
  
}

 td, th {
  border: 1px solid #dddddd;
  text-align:justify;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a38383;
  
}

tr:hover {
    background-color: #da9595;
}

th:nth-child(even) {
    background-color: #c4cbc4;
}

tr {
    border-bottom: 1px solid;
}

div.mycontainer {
    width: auto;
    overflow: auto;
    display: inline-block;
}

div.mycontainer div {
    width: 30%;
    padding: 3px;
    display: inline-block;
    margin: auto;
}

li {
    
}