html {
    scroll-behavior: smooth;
}

h1 {
    color: rgb(192, 63, 63); 
    font-family: Trebuchet MS;
    border: 2px solid rgb(237, 247, 211);

}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* to add image, use background-image: url() point to the image you want. for now, background image is set to none */
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 200px;
}

section li {
    color: blue;
}

section p {
    color: black;
}

section h4 {
    color: rgb(31, 30, 33);
}

.special {
    color:rgb(13, 40, 61);
}

p {
    line-height: 1em;
}

section {
    width: 700px;
    margin: auto;
    
}

main {
    width: 700px;
    margin: auto;
}

body {
    width: 700px;
    margin: auto;
    text-align: justify;
    padding: 30px;
}

h1 {
    background-color: rgb(160, 160, 184);
    text-align: center;
    padding: 5px;
}

a:hover, a:active {
    color: rgb(249, 76, 76);
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
}

table {
  font-family:trebuchet ms;
  border-collapse: collapse;
  width: 100%;
  
}

 td, th {
  border: 1px solid #dddddd;
  text-align:justify;
  padding: 8px;
}

tr:hover {
    background-color: #cf700b;
}

/* this gives a background color to the column by either even or odd */
th:nth-child(even) {
    background-color: white;
}

/* this gives a background color to the row by either even or odd */
tr:nth-child(even) {
    background-color: white;
    
}

tr {
    border-bottom: 1px solid;
}

div.mycontainer {
    width: auto;
    overflow: auto;
    display: inline-block;
}

div.mycontainer div {
    width: 30%;
    padding: 3px;
    display: inline-block;
    margin: auto;
}

/* suitable for tables - side-by-side */
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.key {
    background-color: rgb(170, 240, 155);
    padding: 3px;
    margin: 5px;  
}


* {
    box-sizing: border-box;
}

/* this helps to ensure the site fits all device types */

@media screen and (max-width:800px) {
    width: 100%;
    
} 
    /* this is to showcase CSS styling for sectinos and articles.  */
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}
  
.all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
}
 
.browser {
    background: white;
}
  
.browser > h2, p {
    margin: 4px;
    font-size: 90%;
}

/* aside creates a small screen to highlight something about the page */
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

/* styling for the profile section */
summary {
    color: rgb(5, 90, 64);
    font-family: 'Trebuchet MS';
    list-style-type:square;
    position: relative;
    anchor-name: --summary;

    &::marker {
        content: "";
    }

    /* custom marker dimensions */
    &::before,
    &::after {
        content: "";
        border-block-start: 3px solid orangered;
        height: 0;
        width: 1rem;

        /* position the lines */
        inset-block-start: 50%;
        inset-inline-end: 0;

        /* anchor the shape to the summary */
        position: absolute;
        position-anchor: --summary;
        position-area: top end;
    }

    /* totate the ::after line to create a + shape */
    &::after {
        transform: rotate(90deg);
        transform-origin: 50%;

    }

}

/* rotate the line when open */
details[open] summary::after {
    transform: rotate(0deg);
    
}


details[open] p {
    animation: animateDown 0.2s linear forwards;
}

@keyframes animateDown {
    0% {
        opacity: 0;
        transform: translate(-15px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

details {
    border-block-end: 1px solid #000;
    margin-block: .5rem;
    padding-block: .5rem;
    text-align: justify;
    letter-spacing: .5px;

}

/* Using position: sticky */
h1.sticky {
    position: sticky;
    top: 0;
}