html {
    scroll-behavior: smooth;
}

h1 {
    color: rgb(54, 15, 15); 
    font-family: Trebuchet MS;
    border: 2px solid blue;

}
body {
    font-family: Trebuchet MS;
    background-color: antiquewhite;
}

section li {
    color: blue;
}

section p {
    color: forestgreen;
}

section h4 {
    color: darkslateblue;
}

.special {
    color:steelblue;
}

p {
    line-height: 1em;
}

section {
    width: 500px;
    margin: auto;
}

main {
    width: 500px;
    margin: auto;
}

body {
    width: 700px;
    margin: auto;
    text-align: justify;
    padding: 10px;
}

h1 {
    background-color: rgb(110, 110, 136);
    text-align: center;
    padding: 5px;
}

a:hover, a:active {
    color: red;
    text-decoration: underline;
    background-color:burlywood;
    display: inline-block;
    padding: 5px 5px;
}
